body {
    background-color: #757575;
}

#form {
    display: inline;
}

.margin {
    margin-top: 70px;
}

#msg-color i {
    color: #FFA500;
}

#title {
    color: #0e7e0e;
}

/* Estilos para la verificación de datos del formulario */
.error {
    color: #ff0000;
}

.success {
    color: #008000;
}